<%- include header %>

  <link rel="stylesheet" type="text/css" href="../stylesheets/readerBorrowed.css">

  <script type="text/javascript">
    $(function () {
      var Lis = $(".menu ul li").eq(4);
      Lis.css('border-bottom', '7px solid #419EDC');
      Lis.css('margin-top', '-7px');
      Lis.css('color', '#419EDC');
      $(".table tbody tr:odd").css("backgroundColor", "#E3F2F5");
    })
  </script>
  <%- include TopBar %>
    <div class="content">
      <div class="table_div">
        <table class="table">
            <thead>

                <th>图书编号</th>
                <th>图书名</th>
                <th>借书日期</th>
                <th>归还日期</th>
              </thead>
              <tbody>
                    <% for(var i=0;i< datas.length;i++){ %>
                      <tr>
                        <td>
                          <%= datas[i].BookId %>
                        </td>
                        <td>
                          <%= datas[i].BookName %>
                        </td>
                        <td>
                          <%= datas[i].BorrowTime %>
                        </td>
                        <td>
                          <%= datas[i].ReturnTime %>
                        </td>
                      </tr>
    
                      <% }%>
    
              </tbody>
        </table>
      </div>
    </div>
    <%- include footer %>