<!DOCTYPE html>
<html>

<head>
	<title>
		<%= title %>
	</title>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<link rel="stylesheet" type="text/css" href="../stylesheets/searchResult.css">
	<link rel="stylesheet" type="text/css" href="../font-awesome/css/font-awesome.min.css">
	<script type="text/javascript" src="javascripts/jquery-2.1.4.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function () {

			$(".bor_btn").click(function () {
				var num = $(this).find("span").html();
				if (num <= 0) {
					alert("该书被借光了~~");
				}
				else {
					alert("请到图书管理员处借阅~~");
				}
			});
			var btns = $(".bor_btn");
			for (var i = 0; i < btns.length; i++) {
				var num = $(btns[i]).find("span").html();
				if (num == 0) {
					$(".bor_btn").eq(i).css('backgroundColor', '#BCBCBC');
				}
				else {
					$(".bor_btn").eq(i).css('backgroundColor', '#28B138');
				}
			};
		});
	</script>
</head>

<body>
	<div class="search_page">
		<div class="header">

			<div class="home">
				<a href="/">
					<i class="fa fa-home"></i>首页</a>
			</div>
			<% if(hotyan.UserName){ %>
				<!-- 登录状态下 -->
				<a class="login">
					<% hotyan.UserName %>
				</a>
				<% }else{ %>
					<!-- 非登录状态下 -->
					<a class="login" href="/easylogin">登录</a>
					<% } %>

						<div class="clear"></div>
		</div>
		<div class="content">
			<form class="search" action="/search" method="POST">
				<input placeholder="C语言" name="BookName"/>
				<button class="sch_btn" type="submit">搜索</button>
			</form>
			<div>
				<ul class="result">
					<%for(var i=0;i< datas.length;i++){%>
						<div class="book_result">
							<div class="bk_name">
								<%= datas[i].BookName %>
							</div>
							<ul>
								<li>作者：
									<%= datas[i].Author %>
								</li>
								<li>出版社：
									<%= datas[i].PublishCompany %>
								</li>
							</ul>

							<div class="bor_btn">
								<div class="btn_name">借阅</div>
								<div class="bk_num">在库数量：
									<span>
										<%= datas[i].State %>
									</span>本</div>
							</div>
							<div class="clear"></div>
						</div>
						<% }%>

				</ul>

			</div>
		</div>
</body>

</html>